@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

nav {
    padding: 15px;
    background-color: darkgray;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
}

.buttons {
    width: 50%;
    height: 250px;
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.btn-black {
    width: 120px;
    height: 45px;
    font-size: larger;
    border-radius: 10px;
    margin-top: 10px;
    background-color: grey;
    border: 1.5px solid black;
    color: white;
    cursor: pointer;
}

.btn-blue {
    width: 120px;
    height: 45px;
    font-size: larger;
    border-radius: 10px;
    margin-top: 10px;
    background-color: grey;
    border: 1.5px solid rgb(20, 140, 195);
    color: white;
    cursor: pointer;
}

.btn-list {
    list-style: none;
}

.btn-green {
    width: 120px;
    height: 45px;
    font-size: larger;
    border-radius: 10px;
    margin-top: 10px;
    background-color: grey;
    border: 1.5px solid rgb(24, 226, 24);
    color: white;
    cursor: pointer;
}